[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flash = "*"
pymysql = "*"
flask-bcrypt = "*"
requests = "*"
datetime = "*"

[requires]
python_version = "3.9"
